<script>
if(localStorage.getItem('usuario') == null || localStorage.getItem('usuario') == undefined){
    window.location = "/login";
    console.log("login")
}</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="../../images/logopairapp.png">
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/admin">Admin</a></li>
      <li ><a href="/usuarios">Usuarios</a></li>
      <li ><a href="/partidas">Partidas</a></li>
      <li ><a href="/imagenes">Imagenes</a></li>
    </ul>
  </div>
</nav> 

<table class="table table-bordered">
    <thead>
    <tr>
      <th>Numero de Partida</th>
        <th>Nombre Jugador</th>
        <th>Foto</th>
        <th>puntaje Jugador</th>

              

    </tr>
    </thead>
    <tbody>



 <tr>
  {{#each partidas}}
   
        <td>{{id}}</td>
        <td>{{nombre}}</td>
        <td><img src="{{foto}}" alt="" class="rounded-circle personalImg"></td>
                <td>{{partida}}</td>

        <td><a href="/partidas/{{id}}/edit" class="btn btn-primary" role="button">Editar</a></td>
        </form>
         <td><a href="/partidas/{{id}}" class="btn btn-primary" role="button">Eliminar</a></td> 

    </tr>
  {{/each}}
    </tbody>
</table>



{{!-- <div class="row">
  <div class="col-xs-12">
    <a type="button" class="btn btn-default btn-primary" href="/partidas/agregar">Nuevo Usuario</a>
  </div>
</div> --}}

